---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex justify-center mx-auto px-4 py-8">
    <div class="w-full max-w-3xl">
      <form>
        <h1 class="text-3xl font-bold mb-6">Submit an Abstract</h1>
        <div class="mb-4">
          <label for="firstName" class="block mb-2">First Name</label>
          <input
            type="text"
            id="firstName"
            required
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="mb-4">
          <label for="surname" class="block mb-2">Surname</label>
          <input
            type="text"
            id="surname"
            required
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="mb-4">
          <label for="email" class="block mb-2">Email Address</label>
          <input
            type="email"
            id="email"
            required
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="mb-4">
          <label for="title" class="block mb-2">Title</label>
          <input
            type="text"
            id="title"
            required
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="mb-4">
          <label for="authors" class="block mb-2"
            >Authors (comma separated if multiple)</label
          >
          <input
            type="text"
            id="authors"
            required
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"
            placeholder="Author Name, Author Name"
          />
        </div>
        <div class="mb-4">
          <label for="affiliations" class="block mb-2"
            >Affiliations (comma separated if multiple)</label
          >
          <input
            type="text"
            id="affiliations"
            required
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"
            placeholder="Affiliation, Affiliation"
          />
        </div>
        <div class="mb-4">
          <label for="abstract" class="block mb-2"
            >Abstract (max 1000 characters)</label
          >
          <textarea
            id="abstract"
            required
            rows="4"
            maxlength="1000"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"
          ></textarea>
        </div>
        <div class="mb-4">
          <label class="block mb-2">Type</label>
          <div class="flex items-center">
            <input
              type="radio"
              name="type"
              id="talk"
              value="talk"
              required
              checked
              class="mr-2"
            />
            <label for="talk" class="mr-4">Talk</label>
            <input
              type="radio"
              id="poster"
              value="poster"
              name="type"
              required
              class="mr-2"
            />
            <label for="poster">Poster</label>
          </div>
        </div>
        <div class="mb-4">
          <label for="topic" class="block mb-2">Topic</label>
          <select
            id="topic"
            required
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"
          >
            <!-- Options provided by Kim -->
          </select>
        </div>
        <div class="mb-4">
          <div class="flex gap-2 items-center mb-2">
            <label class="block">Student / LMIC</label>
            <a
              href="https://www.oecd.org/dac/financing-sustainable-development/development-finance-standards/DAC-List-of-ODA-Recipients-for-reporting-2024-25-flows.pdf"
              target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="16px"
                height="16px"
                viewBox="0 0 16 16"
                version="1.1"
              >
                <g id="surface1">
                  <path
                    style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(26,86,219);stroke-opacity:1;stroke-miterlimit:4;"
                    d="M 22.001953 12 C 22.001953 17.525391 17.525391 22.001953 12 22.001953 C 6.474609 22.001953 1.998047 17.525391 1.998047 12 C 1.998047 6.474609 6.474609 1.998047 12 1.998047 C 17.525391 1.998047 22.001953 6.474609 22.001953 12 Z M 22.001953 12 "
                    transform="matrix(0.666667,0,0,0.666667,0,0)"></path>
                  <path
                    style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(26,86,219);stroke-opacity:1;stroke-miterlimit:4;"
                    d="M 12 16.001953 L 12 12 "
                    transform="matrix(0.666667,0,0,0.666667,0,0)"></path>
                  <path
                    style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(26,86,219);stroke-opacity:1;stroke-miterlimit:4;"
                    d="M 12 7.998047 L 12.011719 7.998047 "
                    transform="matrix(0.666667,0,0,0.666667,0,0)"></path>
                </g>
              </svg>
            </a>
          </div>
          <div class="flex items-center">
            <input
              type="radio"
              name="student-lmic"
              id="student"
              value="student"
              required
              checked
              class="mr-2"
            />
            <label for="student" class="mr-4">Student</label>
            <input
              type="radio"
              id="lmic"
              value="lmic"
              name="student-lmic"
              required
              class="mr-2"
            />
            <label for="lmic">LMIC</label>
          </div>
        </div>
        <div class="mb-4">
          <input
            type="submit"
            value="Register"
            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md cursor-pointer"
          />
        </div>
      </form>
    </div>
  </div>
</Layout>
