---
import Layout from "../layouts/Layout.astro";
import AbstractForm from "../components/AbstractForm"
---

<Layout>
  <div class="flex justify-center mx-auto px-4 py-8">
    <div class="w-full max-w-3xl">
      <AbstractForm client:load />
    </div>
  </div>
</Layout>
