---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-3xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">Recommended Accomodation</h1>

    <div class="max-w-3xl mx-auto py-8 grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="bg-white rounded-lg shadow-md flex flex-col">
        <div class="h-48 overflow-hidden">
          <img
            src="hotel-novotel.jpg"
            alt="Novotel Exterior"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="flex-grow p-4">
          <h2 class="text-xl font-bold mb-2">Novotel</h2>
          <p class="mb-2">Located in downtown area</p>
          <p class="mb-2">Price per night: $100</p>
          <a
            href="booking-link-hotelA"
            class="mt-auto block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >Book Now</a
          >
        </div>
      </div>
      <div class="bg-white rounded-lg shadow-md flex flex-col">
        <div class="h-48 overflow-hidden">
          <img
            src="hotel-quest.jpg"
            alt="Quest Exterior"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="flex-grow p-4">
          <h2 class="text-xl font-bold mb-2">Quest</h2>
          <p class="mb-2">Near conference venue</p>
          <p class="mb-2">Price per night: $120</p>
          <a
            href="booking-link-hotelB"
            class="mt-auto block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >Book Now</a
          >
        </div>
      </div>
      <div class="bg-white rounded-lg shadow-md flex flex-col">
        <div class="h-48 overflow-hidden">
          <img
            src="hotel-quest-central.jpg"
            alt="Quest Central Exterior"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="flex-grow p-4">
          <h2 class="text-xl font-bold mb-2">Quest Central</h2>
          <p class="mb-2">Scenic view</p>
          <p class="mb-2">Price per night: $150</p>
          <a
            href="booking-link-hotelC"
            class="mt-auto block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >Book Now</a
          >
        </div>
      </div>
    </div>
  </div>
</Layout>
