---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout>
  <div class="prose mx-auto px-4 py-8">
    <p>Information is coming soon. Please check back later.</p>
    <h2>ECR Organising Committee</h2>
  </div>
</Layout>
