---
import Layout from "../layouts/Layout.astro";
import Countdown from "../components/Countdown";
export const prerender = true;
---

<Layout>
  <div class="mx-auto px-4 prose">
    <div class="flex flex-col gap-4 mb-8">
      <img src="logo.png" class="w-[600px] self-center" />
      <Countdown client:load />
    </div>
    <p>
      The Hendra@30 conference commemorates 30 years since Hendra virus,
      the first henipavirus, was discovered. Join us in Geelong, Victoria
      in December 2024 to hear about the progress made through research
      in understanding the henipaviruses.
    </p>
    <h2>Key Information</h2>
    <ul>
      <li><strong>Date:</strong> Sunday December 8th - Wednesday Dec 11th</li>
      <li>
        <strong>Venue:</strong> <a
        class="text-violet-600 hover:underline"
        href="https://thepiergeelong.com.au/about-us/our-venue/"
        >The Pier</a
      >, Geelong's waterfront function venue
      </li>
    </ul>
    <p class="mb-4">
      Stay tuned for updates on speakers, agenda, and registration details!
    </p>
    <p class="mb-4">
      For inquiries, please contact <a
        href="mailto:info@hendra30.com"
        class="text-violet-600 hover:underline">info@hendra30.com</a
      >.
    </p>
    <!-- <img src="pier_01.jpg" class="h-auto rounded-lg" alt="Picture of the venue, The Pier" /> -->
    <h2>International Organising Committee</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
      <!-- Alison Peel -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/alison-peel.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Alison Peel</h3>
          <p class="text-gray-600">University of Sydney, Sydney</br>Griffith University, Brisbane</p>
        </div>
      </div>
      <!-- Danielle Anderson -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/dani-anderson.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Danielle Anderson</h3>
          <p class="text-gray-600">Victorian Infectious Diseases Reference Laboratory</br>Melbourne, Australia</p>
        </div>
      </div>
      <!-- Emmie de Wit -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/emmie-de-wit.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Emmie de Wit</h3>
          <p class="text-gray-600">Rocky Mountain Laboratories, NIAID, NIH</br>Hamilton, Montana, USA</p>
        </div>
      </div>
      <!-- Glenn Marsh -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/glenn-marsh.png">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Glenn Marsh</h3>
          <p class="text-gray-600">Australian Centre for Disease Preparedness</br>Geelong, Australia</p>
        </div>
      </div>
      <!-- Jennifer Barr -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/jennifer-barr.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Jennifer Barr</h3>
          <p class="text-gray-600">Australian Centre for Disease Preparedness</br>Geelong, Australia</p>
        </div>
      </div>
      <!-- Jon Epstein -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/jon-epstein.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Jon Epstein</h3>
          <p class="text-gray-600">Ecohealth Alliance</br>New York, USA</p>
        </div>
      </div>
      <!-- Kim Halpin -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/kim-halpin.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Kim Halpin</h3>
          <p class="text-gray-600">Australian Centre for Disease Preparedness</br>Geelong, Australia</p>
        </div>
      </div>
      <!-- Linfa Wang -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/linfa-wang.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Linfa Wang</h3>
          <p class="text-gray-600">Duke-NUS Medical School</br>Singapore</p>
        </div>
      </div>
      <!-- Li-Yen Chang -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/liyen-chang-um.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Li-Yen Chang</h3>
          <p class="text-gray-600">University Malaya</br>Kuala Lumpur, Malaysia</p>
        </div>
      </div>
      <!-- Raina Plowright -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/raina-plowright.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Raina Plowright</h3>
          <p class="text-gray-600">Cornell University</br>New York, USA</p>
        </div>
      </div>
      <!-- Richard Jarman -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/richard-jarman.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Richard Jarman</h3>
          <p class="text-gray-600">CEPI</br>New York, USA</p>
        </div>
      </div>
      <!-- Supaporn Wacharapluesadee -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/supa-wacharapluesadee.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Supaporn Wacharapluesadee</h3>
          <p class="text-gray-600">Chulalongkorn University</br>Bangkok, Thailand</p>
        </div>
      </div>
      <!-- Wanda Markotter -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/wanda-markotter.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Wanda Markotter</h3>
          <p class="text-gray-600">University of Pretoria</br>Pretoria, South Africa</p>
        </div>
      </div> 
    </div>
    <!-- <img src="pier_02.jpg" class="h-auto rounded-lg" alt="Second picture of the venue, The Pier" /> -->
    <h2>Local Organising Committee</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
      <!-- Carlie Soul -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/carlie-soul.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Carlie Soul</h3>
          <p class="text-gray-600">Australian Centre for Disease Preparedness</br>Geelong, Australia</p>
        </div>
      </div>
      <!-- Danielle Anderson -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/dani-anderson.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Danielle Anderson</h3>
          <p class="text-gray-600">Victorian Infectious Diseases Reference Laboratory</br>Melbourne, Australia</p>
        </div>
      </div>
      <!-- Glenn Marsh -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/glenn-marsh.png">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Glenn Marsh</h3>
          <p class="text-gray-600">Australian Centre for Disease Preparedness</br>Geelong, Australia</p>
        </div>
      </div>
      <!-- Jennifer Barr -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/jennifer-barr.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Jennifer Barr</h3>
          <p class="text-gray-600">Australian Centre for Disease Preparedness</br>Geelong, Australia</p>
        </div>
      </div>
      <!-- Kim Halpin -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/kim-halpin.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Kim Halpin</h3>
          <p class="text-gray-600">Australian Centre for Disease Preparedness</br>Geelong, Australia</p>
        </div>
      </div>
      <!-- Sarah Edwards -->
      <div class="bg-white rounded-lg shadow-md p-4 max-w-sm flex flex-col items-center">
        <img class="w-64 h-64 m-0 object-cover rounded-lg" src="/loc-int-committee/sarah-edwards.jpg">
        <div class="w-64">
          <h3 class="text-lg font-semibold">Sarah Edwards</h3>
          <p class="text-gray-600">Australian Centre for Disease Preparedness</br>Geelong, Australia</p>
        </div>
      </div>
    </div>
    <!-- <img src="pier_03.webp" class="h-auto rounded-lg" alt="Third picture of the venue, The Pier" /> -->
  </div>
</Layout>
