---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-3xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">Conference Programme</h1>

    <div class="mb-8">
      <h2 class="text-xl font-semibold mb-2">Day 1: Sunday the 8th of December</h2>
      <ul>
        <li class="mb-2">
          <h3 class="text-lg font-semibold">4:00pm - 5:00pm</h3>
          <p>Optional visit to local fruit bat colony</p>
        </li>
        <li class="mb-2">
          <h3 class="text-lg font-semibold">5:00pm - 7:00pm</h3>
          <p>
            Welcome drinks/canapes at the <a
              class="text-violet-600 hover:underline"
              href="https://rgyc.com.au/bar-dining/"
              target="_blank">Royal Geelong Yacht Club</a
            >
          </p>
        </li>
      </ul>
    </div>

    <div class="mb-8">
      <h2 class="text-xl font-semibold mb-2">Day 2: Monday the 9th of December</h2>
      <ul>
        <li class="mb-2">
          <h3 class="text-lg font-semibold">9:00am - 10:00am</h3>
          <p>
            Welcome to Country ceremony by traditional land owners at <a
              class="text-violet-600 hover:underline"
              href="https://thepiergeelong.com.au/about-us/our-venue/"
              >The Pier</a
            >
          </p>
        </li>
        <li class="mb-2">
          <h3 class="text-lg font-semibold">10:00am - 5:00pm</h3>
          <p>
            Scientific sessions at <a
              class="text-violet-600 hover:underline"
              href="https://thepiergeelong.com.au/about-us/our-venue/"
              >The Pier</a
            >
          </p>
        </li>
        <li class="mb-2">
          <h3 class="text-lg font-semibold">5:00pm - 7:00pm</h3>
          <p>
            Poster session at <a
              class="text-violet-600 hover:underline"
              href="https://thepiergeelong.com.au/about-us/our-venue/"
              >The Pier</a
            >
          </p>
        </li>
      </ul>
    </div>

    <div class="mb-8">
      <h2 class="text-xl font-semibold mb-2">Day 3: Tuesday the 10th of December</h2>
      <ul>
        <li class="mb-2">
          <h3 class="text-lg font-semibold">9:00am - 5:00pm</h3>
          <p>
            Scientific sessions at <a
              class="text-violet-600 hover:underline"
              href="https://thepiergeelong.com.au/about-us/our-venue/"
              >The Pier</a
            >
          </p>
        </li>
        <li class="mb-2">
          <h3 class="text-lg font-semibold">6:30pm - 9:30pm</h3>
          <p>
            Conference dinner at the <a
              href="https://highermark.com.au/room/189/captains-room"
              target="_blank"
              class="text-violet-600 hover:underline">Stadium Captains Room</a
            >
          </p>
        </li>
      </ul>
    </div>

    <div class="mb-8">
      <h2 class="text-xl font-semibold mb-2">Day 4: Wednesday the 11th of December</h2>
      <ul>
        <li class="mb-2">
          <h3 class="text-lg font-semibold">9:00am - 5:00pm</h3>
          <p>
            Scientific sessions at <a
              class="text-violet-600 hover:underline"
              href="https://thepiergeelong.com.au/about-us/our-venue/"
              >The Pier</a
            >
          </p>
        </li>
      </ul>
    </div>

    <div class="mb-8">
      <h2 class="text-xl font-semibold mb-2">Day 5: Thursday the 12th of December</h2>
      <ul>
        <li class="mb-2">
          <h3 class="text-lg font-semibold">10:00am - 12:00pm</h3>
          <p>
            Optional tour of <a
            class="text-violet-600 hover:underline"
            href="https://acdp.csiro.au/"
            >ACDP</a
          >
          </p>
        </li>
      </ul>
    </div>

    <p>
      For enquiries about the conference programme, please contact <a
        href="mailto:info@hendra30.com"
        class="text-violet-600 hover:underline">info@hendra30.com</a
      >.
    </p>
  </div>
</Layout>
