---
import Layout from "../layouts/Layout.astro";
import RegistrationForm from "../components/RegistrationForm";
---

<Layout>
  <div class="container mx-auto flex justify-center">
    <RegistrationForm client:load />
  </div>
</Layout>
