---
import Layout from "../layouts/Layout.astro";
import RegistrationForm from "../components/RegistrationForm";
---

<Layout>
  <div class="flex justify-center">
    <div class="w-full md:w-1/2">
      <RegistrationForm client:load />
    </div>
  </div>
</Layout>
