---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout>
  <div class="flex justify-center mx-auto px-4 py-8">
    <div class="w-full max-w-3xl">
      Content for Early / mid-career researchers page
    </div>
  </div>
</Layout>
