---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout>
  <div class="max-w-3xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8">Major Sponsors</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="bg-white rounded-lg shadow-lg p-6">
        <div class="flex justify-center items-center h-40 pt-4 pb-8">
          <svg width="100%" height="50px" viewBox="0 0 165 48" xmlns="http://www.w3.org/2000/svg">
            <title>CEPI</title>
            <path style="fill: #00234E;" d="M0 23.967C0 10.368 10.564 0 23.967 0c5.88 0 11.159 1.916 15.186 5.544l-3.503 4.559C32.615 7.53 28.65 5.747 23.96 5.747c-10.236 0-17.828 7.921-17.828 18.227 0 10.305 7.592 18.227 17.828 18.227 4.691 0 8.648-1.783 11.69-4.356l3.503 4.559c-4.027 3.628-9.313 5.544-15.186 5.544C10.564 47.94 0 37.572 0 23.967ZM60.148 0H87.22v5.81H66.161v35.258h21.058v5.81H60.15V0ZM122.415 23.107c6.732 0 10.298-3.237 10.298-8.781 0-5.545-3.566-8.782-10.298-8.782h-7.062v17.563h7.062ZM109.34 0h13.27c9.837 0 16.242 5.481 16.242 14.326 0 8.844-6.405 14.325-16.242 14.325h-7.264v18.227h-6.006V0ZM165 0h-6.006v46.878H165V0Z" fill="var(--c-theme-accent)"></path>
            <path style="fill: #FF5F58;" d="M71.705 23.926c0-2.776 2.308-5.02 5.083-5.02a5.016 5.016 0 0 1 5.02 5.02 5.016 5.016 0 0 1-5.02 5.02c-2.775 0-5.083-2.244-5.083-5.02Z" fill="var(--c-theme-accent-alt)"></path>
          </svg>
        </div>
        <p class="text-gray-600 mb-4">
          The Coalition for Epidemic Preparedness Innovations is a foundation
          that takes donations from public, private, philanthropic, and civil
          society organisations, to finance independent research projects to
          develop vaccines against emerging infectious diseases.
        </p>
        <p>
          <strong>Website:</strong>
          <a href="https://cepi.net" class="text-violet-600 hover:underline">www.cepi.net</a>
        </p>
      </div>

      <div class="flex flex-col bg-white rounded-lg shadow-lg p-6">
        <div class="flex justify-center h-40 pt-4 pb-8">
          <img src="csiro-logo.svg" alt="The logo for CSIRO" />
        </div>
        <p class="text-gray-600 mb-4">
          The Commonwealth Scientific and Industrial Research Organisation
          is an Australian Government agency responsible for scientific research.
        </p>
        <p class="mt-auto mb-0">
          <strong>Website:</strong>
          <a href="https://csiro.au" class="text-violet-600 hover:underline">www.csiro.au</a>
        </p>
      </div>

    </div>

    <p class="mt-8">
      Interested in becoming a sponsor? Contact us at <a
        href="mailto:info@hendra30.com"
        class="text-violet-600 hover:underline">info@hendra30.com</a
      > for more information.
    </p>
  </div>
</Layout>
