---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout>
  <div class="prose max-w-3xl mx-auto px-4 py-8">
    <h1>
      Hendra@30 Henipavirus Conference Travel Grant for Early Career Researchers
    </h1>
    <p>
      We are excited to announce the Travel Grants for Emerging Scholars,
      designed to support the attendance of promising MSc, PhD, and
      post-doctoral fellows at the Hendra@30 Henipavirus Conference. This grant
      aims to facilitate the exchange of ideas, enhance networking
      opportunities, and promote academic collaborations among early-career
      researchers in the field of henipavirus research. We recognize the
      financial barriers that can hinder participation in significant academic
      gatherings and are committed to making the conference accessible to a
      diverse group of scholars.
      <br />
      <br />
      There are two types of Travel grant opportunities available: comprehensive
      funding and partial funding.
    </p>
    <div>
      <h2>Eligibility Criteria</h2>
      <p class="underline">Both comprehensive and partial grants:</p>
      <ul>
        <li>
          <span class="italic">Academic Status:</span> Applicants must be enrolled
          as full-time MSc or PhD students or engaged in post-doctoral research (within
          5 years of PhD completion or 5 years as an active researcher if you have
          experienced career disruption) at an accredited academic institution at
          the time of the conference.
        </li>
        <li>
          <span class="italic">Abstract Submission:</span> An abstract was submitted
          through the Hendra@30 <a
            href="/abstracts"
            target="_blank"
            class="text-violet-600">abstract submission portal</a
          >. The relevance and quality of the abstract, as it aligns with the
          conference's themes and objectives, will be a critical factor in the
          evaluation process. (Priority will be given to applicants accepted for
          talks)
        </li>
      </ul>
      <p class="underline">Comprehensive grant:</p>
      <ul>
        <li>
          <span class="italic">Country of residence:</span> Applicants must reside
          in a low or middle income country (as per the <a
            href="https://blogs.worldbank.org/en/opendata/new-world-bank-country-classifications-income-level-2022-2023"
            target="_blank"
            class="text-violet-600">World Bank Classification</a
          >)
        </li>
        <li>
          <span class="italic">Financial Need:</span> Applicants must demonstrate
          a need for comprehensive financial support. This grant is intended for
          individuals who are unable to secure funding for travel, accommodation,
          and conference registration fees through other sources, such as institutional
          support, scholarships, or grants.
        </li>
      </ul>
    </div>
    <div>
      <h3>Grant Coverage</h3>
      <p>
        Grants awarded can be comprehensive or partial funding for conference
        attendance and will be determined on a case to case basis. Individuals
        that are able to receive partial funding from their research
        institutions, can apply for partial top-up travel grants. Those unable
        to secure any funding, can apply for comprehensive funding. Candidates
        unsuccessful in the comprehensive grant application, will automatically
        be considered for the partial funding grant. Travel awards will be
        directed towards the following expenses:
      </p>
      <ul>
        <li>Round-trip economy class airfare to the conference location</li>
        <li>Conference registration fees</li>
        <li>Accommodation for the duration of the conference</li>
      </ul>
    </div>
    <div>
      <h3>Application Requirements</h3>
      <p>
        To apply for a travel grant, please complete the <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSdG3Oc0n-oWNn-PpbiT98BSYt-i3zE0Q6AYr2sZiCx48aleIg/viewform"
          target="_blank"
          class="text-violet-600">online application form</a
        >. You will be required to provide the following supporting
        information/documents:
      </p>
      <ul>
        <li>
          Motivation (max 300 words) explaining your financial need (full or
          partial funding requested), the relevance of the conference to your
          research, and how attending will benefit your academic and
          professional development.
        </li>
        <li>
          Uploading proof of academic status (e.g., a current student ID or a
          letter from your department confirming your enrollment/status or a
          letter of support from the applicant's mentor/advisor/supervisor).
        </li>
        <li>
          A short 1 page curriculum vitae including a list of publications in
          the last 5 years.
        </li>
        <li>
          The title and authors of the abstract submitted through the Hendra@30
          abstract submission portal.
        </li>
      </ul>
      <p class="text-center">
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSdG3Oc0n-oWNn-PpbiT98BSYt-i3zE0Q6AYr2sZiCx48aleIg/viewform"
          target="_blank"
          class="text-2xl text-violet-600"
          >LINK TO TRAVEL GRANT APPLICATION FORM</a
        >
      </p>
    </div>
    <div>
      <div>
        <h3>Selection Process</h3>
        <p>
          Applications will be reviewed by a committee comprising members of the
          organising team and external experts in the field. Selection will be
          based on the academic merit of the submitted abstract, the
          demonstrated financial need, and the potential impact of conference
          participation on the applicant's research and career development.
        </p>
      </div>
      <div>
        <h3>Application Deadline</h3>
        <p>
          All application materials must be submitted by 30th August 2024, 5pm
          AEST. Late submissions will not be considered.
        </p>
      </div>
      <div>
        <h3>Notification of Award</h3>
        <p>
          Successful applicants will be notified by mid-September 2024, and
          further details will be provided at that time. We look forward to receiving your applications and supporting the next
          generation of scholars.
        </p>
        <span class="text-sm italic"
          >Disclaimer: The Hendra@30 Travel Grant is contingent upon funding
          availability and the quality of applications received. The organisers
          reserve the right to make final decisions on the allocation of travel
          grants.</span
        >
      </div>
    </div>
  </div>
</Layout>
