---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout>
  <div class="max-w-3xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">Travel</h1>
    <ul class="list-disc pl-6">
      <li>
        <a href="https://www.melbourneairport.com.au/" class="text-violet-600 hover:underline">Melbourne (MEL) Airport</a> - Located 85km from Geelong. Melbourne Airport is the primary airport serving the city of Melbourne and surrounding areas.
      </li>
      <li class="mt-2">
        <a href="https://avalonairport.com.au/" class="text-violet-600 hover:underline">Avalon (AVV) Airport</a> - Located 25km from Geelong. Avalon Airport is a secondary airport serving the region, offering domestic and international flights. There is no public transport from Avalon Airport to Geelong.
      </li>
      <li class="mt-2">
        <a href="https://visitgeelongbellarine.com.au" class="text-violet-600 hover:underline">Visit Geelong & The Bellarine</a> - Geelong is the city where the conference will be hosted. It's also a popular tourist destination known for its waterfront, gardens, and cultural attractions.
      </li>
      <li class="mt-2">
        <strong>Getting to Geelong:</strong>
        <ul class="list-disc pl-6 mt-2">
          <li>
            <a href="https://gull.com.au/Regular" class="text-violet-600 hover:underline">The Gull Bus</a> operates between Melbourne Airport and Geelong CBD.
          </li>
          <li>
           Regular train services run from Southern Cross Station in Melbourne to Geelong Station. Check timetables and plan your journey on the <a href="https://www.ptv.vic.gov.au/" class="text-violet-600 hover:underline">Public Transport Victoria (PTV)</a> website.
          </li>
        </ul>
      </li>
      <li class="mt-2">
        <strong>Visa Information:</strong>
        <ul class="list-disc pl-6 mt-2">
          <li>
            Visitors to Australia may require a visa, depending on their nationality and purpose of travel. We recommend you apply as soon as possible. Check the <a href="https://immi.homeaffairs.gov.au/visas/getting-a-visa/visa-finder" class="text-violet-600 hover:underline">Australian Visa Finder</a> to determine the appropriate visa for your situation.
          </li>
          <li>
            If you require a letter of invitation for your visa application, please contact us at <a
            href="mailto:info@hendra30.com"
            class="text-violet-600 hover:underline">info@hendra30.com</a
          >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</Layout>
