---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-3xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">Travel</h1>
    <ul class="list-disc pl-6">
      <li>
        <a
          href="https://www.melbourneairport.com.au/"
          class="text-blue-500 hover:underline">Melbourne (MEL) Airport</a
        > - Located 85km from Geelong. Melbourne Airport is the primary airport serving
        the city of Melbourne and surrounding areas.
      </li>
      <li class="mt-2">
        <a
          href="https://avalonairport.com.au/"
          class="text-blue-500 hover:underline">Avalon (AVV) Airport</a
        > - Located 25km from Geelong. Avalon Airport is a secondary airport serving
        the region, offering domestic and international flights.
      </li>
      <li class="mt-2">
        <a
          href="https://visitgeelongbellarine.com.au"
          class="text-blue-500 hover:underline">Geelong</a
        > - Visit Geelong & The Bellarine. Geelong is the city where the conference
        will be hosted. It's also a popular tourist destination known for its waterfront,
        gardens, and cultural attractions.
      </li>
    </ul>
  </div>
</Layout>
